.container1{
    position: relative;
    width: 300px;
    height: 200px;
    border: 1px solid black;
    margin-top: 100px;
}

.box1{
    position: relative;
    top: 20px;
    left: 60px;
    width: 100px;
    height: 100px;
    background-color: aqua;
}

.container2{
    position: relative;
    width: 300px;
    height: 200px;
    border: 1px solid black;
    margin-top: 30px;
}

.box2{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    top: 20px;
    left: 60px;
}

/* Fixed position */
.box3{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    background-color: chartreuse;
    margin-bottom: 30px;
}

.demo{
    margin-top: 50px;
}