.divHover{
    width: 200px;
    height: 100px;
    border: 1px solid black;
}

.divHover:hover{
    background-color: blueviolet;
    color: white;
    font-size: larger;
}


#campoName{
    height: 30px;
}

#campoName:focus{
    border: 4px solid red;
}

#campoCognome{
    height: 30px;
}

#campoCognome:focus{
    border: 4px solid green;
}


.campoInput{
    width: 140px;
}

.campoInput:focus{
    border: 4px solid blue;
}

li:last-child{
    color: red;
}

li:first-child{
    color: blue;
}

.listaSpesa li:nth-child(odd){
    background-color: lightcoral;
}